h1{
    color:cyan;
    text-align:center;
    text-decoration:underline;
}
 body{
                margin:0;
                padding:0;
                background:url("k.jpeg")
                no-repeat center center fixed;
                background-size:cover;
            

            }
        a{
            color:bisque;
        }
        p{
            font-size:medium ;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
            text-align:left;
        }
        h2{
            color:aliceblue;
            text-align: left;
            
        }
        strong{
            text-align: left;
            color: blanchedalmond;
            font-weight: 200;
            text-decoration: underline;
        }
        p{
            color: azure;
            text-decoration: antiquewhite;
        }
        ul{
            color: azure;
            text-decoration: antiquewhite;
        }
        li{
            color: azure;
            text-decoration: antiquewhite;
        }
            
        